/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.upload_img {
    width: 300px;
    height: 200px;
    border-radius: 4px;
    border-width: 2px;
    border-style: dashed;
    border-color: #cccccc;
    position: relative;
}

.upload_img .add_image_icon {
    position: absolute;
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload_img .edit_icon {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    background: #ffffff;
    z-index: 100;
    cursor: pointer;
}

.upload_img .edit_icon .upload-image-input {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.sidebar_quiz {
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar_quiz::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar_quiz {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar_quiz .side_button {
    min-width: 150px;
    margin: 0px 10px;
    padding: 10px 20px;
    color: #ffffff;
    background: #ba995b;
    border: none;
    border-radius: 3px;
}

.active,
.side_button:hover {
    background-color: #bf7e04;
    color: #ffffff;
}


.sidebar_quiz .add_question {

    background: linear-gradient(60deg, #FFC832, #FFC832);
}

.submit_button {
    min-width: 150px;
    margin: 0px 10px;
    padding: 10px 20px;
    color: #ffffff;
    background: #027373;
    border: none;
    border-radius: 3px;
}

.submit_quiz_button {

    background: linear-gradient(60deg, #00A56A, #00A56A);
    min-width: 150px;
    margin: 0px 10px;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.logo_text {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.75;
    color: #000000;
    vertical-align: middle;
    margin-left: 7px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.logo_text span {
    color: #ffba00;
}


.edit_btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: #28a745;
    border: none;
    display: inline-block;
    font-weight: 400;
    border-radius: 3px;
}

.delete_btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: #dc3545;
    border: none;
    display: inline-block;
    font-weight: 400;
    border-radius: 3px;
}
